@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #03a9f4;
  transition: 0.5s;
}

.container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 20px;
}

.blueBg {
  position: absolute;
  top: 40px;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.blueBg .box {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  color: #333333;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 20px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid #333333;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #333333;

  font-size: 16px;
  font-weight: 500;
  border: none;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ffffff;
  color: #333333;
}

.error {
  font-size: 14px;
  color: #ff0000;
  font-weight: 700;
  margin-bottom: 15px;
}